<div class='container'>

	<header>
		<a href='/'>Home | </a>
		<a href='/saved' class='theSave active'>Saved Articles</a>
		<button class='theScraper'>Scrape Fark</button>
		<strong id='farkScrape'>Fark Scrape</strong>
	</header>


		<h1>Scrape Fark.com</h1>
		<p>using Mongo and Mongoose</p>
		

			<div class='resultsContainer'>

			</div>



</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="../../assets/javascript/index.js"></script>