<div class='container'>

	<header>
		<div class='title'>
			<strong id='farkScrape'>Fark Scrape</strong>
		</div>
		<div class='linksButton'>
			<div class='headerText'>
				<a href='/'>Home</a>

				<a href='/saved' class='theSave active'>Saved Articles</a>
			</div>

			<button class='theScraper'>Scrape Fark</button>
		</div>
	</header>

	<div class='belowHeader'>
		<p><span id='scrapeFark'>Scrape Fark.com </span>using Mongo and Mongoose</p>

	</div>


		

			<div class='resultsContainer'>

			</div>



</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="../../assets/javascript/index.js"></script>