  <header>
    <div class='title'>
      <strong id='farkScrape'>Fark Scrape</strong>
    </div>
    <div class='linksButton'>
      <div class='headerText'>
        <a href='/'>Home</a>

        <a href='/saved' class='theSave active'>Saved Articles</a>
      </div>

      <button class='theScraper'>Scrape Fark</button>
    </div>
  </header>

  <div class='belowHeader'>
    <p><span id='scrapeFark'>Scrape Fark.com </span>using Mongo and Mongoose</p>

  </div>
<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>Saved Articles</h1>
    <p>Your Saved Articles</p>
  </div>
</div>
<div class="container-fluid article-container">
</div>

<footer class="footer">
  <div class="container">
    <p>New York Times Mongo Scraper</p>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
  <script src="../../assets/javascript/saved.js"></script>
