* + * {
  margin-top: 1.5em;
}

html {
	font-size: 16px;
	line-height: 1.5em;
}

body {
	background: url(../images/bodyBG.jpg);
}

.container {
	display: grid;
	width: 90%;
	margin: auto auto;
}

/* ========================= HEADER ========================= */

header {
	background: #555;
	color: #fff;
	height: 80px;
}

.title {
	font-size: 1.5em;
	margin-top: 5px;
	margin-left: 10px;
}

header a {
	font-size: 1.2em;
	color: #dfdfff;
	text-decoration: none;
}

header a:hover {
	text-decoration: underline;
}

.headerText{
	margin-top: 25px;
	margin-left: 10px;
}

.theScraper {
	float: right;
	margin-right: 40px;
	padding: 15px 15px;
	border-radius: 5px;
	margin-top:-60px;
}

.belowHeader {
	width: 95%;
	background: #ccc;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
}

#scrapeFark {
	margin-left: 5px;
	font-size: 1.2em;
	font-weight: bold;
}

/* ================= RESULTS CONTAINER ====================== */
.resultsContainer {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	border: 2px solid #555;
	box-shadow: 2px 2px 4px #333;
	padding: 40px 20px;
}

.theSave {
	border: 2px solid #555;
	height: 30px;
	width: 80px;
	margin: 20px 15px;
	background: #555;
	color: #fff;
}

.resultPanel:hover {
	cursor: pointer;
	background: #dfdfff;
	height: 120%;
}









