* + * {
  margin-top: 1.5em;
}

html {
	font-size: 16px;
	line-height: 1.5em;
}

.container {
	display: grid;
	width: 90%;
}

header {
	background: #555;
	color: #fff;
}

header a {
	color: #dfdfff;
	text-decoration: none;
}

header a:hover {
	text-decoration: underline;
}